<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>idageBlockContorl.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7C423C571D1BA47D00947199</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C423C701D1BA47D00947199</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C423C7B1D1BA47E00947199</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
